<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mini_project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admin_login</display-name>
    <servlet-name>admin_login</servlet-name>
    <servlet-class>mini_project1.admin_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_login</servlet-name>
    <url-pattern>/admin_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>emp_reg</display-name>
    <servlet-name>emp_reg</servlet-name>
    <servlet-class>mini_project1.emp_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>emp_reg</servlet-name>
    <url-pattern>/emp_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employee_login</display-name>
    <servlet-name>employee_login</servlet-name>
    <servlet-class>mini_project1.employee_login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee_login</servlet-name>
    <url-pattern>/employee_login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>user_reg</display-name>
    <servlet-name>user_reg</servlet-name>
    <servlet-class>mini_project1.user_reg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user_reg</servlet-name>
    <url-pattern>/user_reg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>verify</display-name>
    <servlet-name>verify</servlet-name>
    <servlet-class>mini_project1.verify</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>verify</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>mini_project1.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m_firstname</display-name>
    <servlet-name>m_firstname</servlet-name>
    <servlet-class>mini_project1.m_firstname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m_firstname</servlet-name>
    <url-pattern>/m_firstname</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m_serialno</display-name>
    <servlet-name>m_serialno</servlet-name>
    <servlet-class>mini_project1.m_serialno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m_serialno</servlet-name>
    <url-pattern>/m_serialno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m_age</display-name>
    <servlet-name>m_age</servlet-name>
    <servlet-class>mini_project1.m_age</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m_age</servlet-name>
    <url-pattern>/m_age</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m_religion</display-name>
    <servlet-name>m_religion</servlet-name>
    <servlet-class>mini_project1.m_religion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m_religion</servlet-name>
    <url-pattern>/m_religion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m_mtongue</display-name>
    <servlet-name>m_mtongue</servlet-name>
    <servlet-class>mini_project1.m_mtongue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m_mtongue</servlet-name>
    <url-pattern>/m_mtongue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m_village</display-name>
    <servlet-name>m_village</servlet-name>
    <servlet-class>mini_project1.m_village</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m_village</servlet-name>
    <url-pattern>/m_village</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>m_lstatus</display-name>
    <servlet-name>m_lstatus</servlet-name>
    <servlet-class>mini_project1.m_lstatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>m_lstatus</servlet-name>
    <url-pattern>/m_lstatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>delete</display-name>
    <servlet-name>delete</servlet-name>
    <servlet-class>mini_project1.delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test1</display-name>
    <servlet-name>test1</servlet-name>
    <servlet-class>mini_project1.test1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test1</servlet-name>
    <url-pattern>/test1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ad_remove</display-name>
    <servlet-name>ad_remove</servlet-name>
    <servlet-class>mini_project1.ad_remove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ad_remove</servlet-name>
    <url-pattern>/ad_remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>rem_emp</display-name>
    <servlet-name>rem_emp</servlet-name>
    <servlet-class>mini_project1.rem_emp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>rem_emp</servlet-name>
    <url-pattern>/rem_emp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>success</display-name>
    <servlet-name>success</servlet-name>
    <servlet-class>mini_project1.success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>success</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
</web-app>